.container-fluid {
    margin-top: 0.2rem;
    width: 98%;
}

.nome{
    text-align: center;
    font-weight: bold;
}

.card{
    width: 88%;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
}