/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg{
    background-color: white;
    color: #0275D8;
    font-weight: 500;
    font-size: 0.5rem;
}